/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* @import url('./reset.scss'); */

.home{
    width: 100%;
}
.nav{
    /* background-color: red; */
    border-bottom: 10px black;
    padding: 20px 0 0 20px;
    height:100px;
    width: 100%;
    display: block;
    
}

.logo{
    color: #F1641E !important;
    width: 80px;
    height: 40px;
    right: 3px !important;
    top: 1px !important;
    position: relative;
    display: block !important;
    text-decoration: none;
    font-size: 40px;
    line-height: 20px;
    padding-left: 40px;
    font-weight: normal;
    font-family: 'Crimson Text', serif;    

}

.welcome{
    font-size: 20px;
    line-height: 28px;  
    padding-top: 24px !important;
    margin-bottom: 36px !important;
}

.header-item button{
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: normal;
    font-family: 'Crimson Text', serif;    
    line-height: 18px;
}
.header{
  padding-bottom: 20px;
}

.header-item button:hover .sign-in-test:hover{
  background-color: #E8E8E8;
 
}

#header-right .button-divs{
    position: absolute;
    right:50px;
}
.sign-in-test:hover {
     background-color: #E8E8E8;
}

.sign-in-test2:hover {
     background-color: #E8E8E8;
}

.shopping_cart_icon:hover{
  background-color: #E8E8E8;
}
.sign-in-test{
   
    border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: normal;
    font-family: 'Crimson Text', serif;    
    line-height: 18px;
    position: absolute;
    top: 20px;
    right:120px;
  
}

.sign-in-test2{
   
    border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: normal;
    font-family: 'Crimson Text', serif;    
    /* line-height: 18px; */
    position: absolute;
    top: 19px;
    right:65px;
  
}

.shopping_cart_icon{
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: normal;
    font-family: 'Crimson Text', serif;    
    line-height: 18px;
    position: absolute;
    top: 20px;
    right:30px;
    background-color: white;
}
.cart-div{
  background-color: white;
  border: 1px solid #E1E3DF;
  margin-top: 20px;
  margin-bottom: 20px;
  
  padding:0px;
  border-radius: 8px;
  border-color: #E1E3DF;
  width:96%;
  margin: 0 auto;
  background-color: white;
  /* border: green 5px solid; */
}
.cart-item-details{
  display: flex;  
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  
  /* margin: 20px; */
  width:96%;
   /* background-color: yellowgreen; */
  
   margin: 0 auto;
   /* border-radius: 5px; */

   margin-left: 20px;
}

.cart-div > .cart-item-details{
   border: none;
}

.cart-div > .cart-item-details ~ .cart-item-details{
  border-top: 1px solid #E1E3DF;
}

  .cartContainer{
    background-color: #FAF9F5;
    border-color: #E1E3DF;
     border-top: 2px solid rgba(34, 34, 34, 0.15);
     /* background-color: skyblue; */
     width:100%;
     margin: 0 auto;
     /* border-radius: 5px; */
     padding-bottom: 20px;
}



.cart_item_details_info{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:460px;
  background-color: white;
}

.cartItemsSub{
  
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  justify-content: space-between;
   /* background-color: green; */
   width: 180px;
 
}

.delete-item-in-cart{
  padding-top: 10px;
  
}