/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* @import url('./reset.scss'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

.home{
    width: 100%;
}
.nav{
    /* background-color: red; */
    border-bottom: 10px black;
    padding: 20px 0 0 20px;
    height:50px;
    /* width: 100%; */
    display: block;
    
}

.logo{
    color: #F1641E !important;
    width: 80px;
    height: 40px;
    right: 3px !important;
    top: 1px !important;
    position: relative;
    display: block !important;
    text-decoration: none;
    font-size: 40px;
    line-height: 20px;
    padding-left: 40px;
    font-weight: normal;
    font-family: 'Crimson Text', serif;    

}

.welcome{
    font-size: 20px;
    line-height: 28px;  
    padding-top: 24px !important;
    margin-bottom: 25px !important;
    padding-left: 30px;
}

.header-item button{
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: normal;
    font-family: 'Crimson Text', serif;    
    line-height: 18px;
}
.header{
  padding-bottom: 20px;
}

.header-item button:hover .sign-in-test:hover{
  background-color: #E8E8E8;
 
}

#header-right .button-divs{
    position: absolute;
    right:50px;
}
/* .sign-in-test:hover {
     color: #555;
} */

.sign-in-test2:hover {
     background-color: #E8E8E8;
}

.searchIconDiv{
     width: 65px;
    position: relative;
    left: 520px;
    top: -60px;
    /* background-color: tomato; */
    height: 35px;
    text-align: center;
    padding-top: 15px;
  
}

.searchIconDiv:hover {
  /* border-radius: 20px; */
  border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
     background-color: #E8E8E8;
}
.shopping_cart_icon:hover{
  background-color: #E8E8E8;
}

.current-user-container{
  display:flex;
    flex-direction: row;
    justify-items: center;
    /* justify-content: center; */
    align-items: center;
    /* background-color: mediumturquoise; */
     position: absolute;
    top: 20px;
    right:120px;
      padding:4px 10px 4px 10px;
      border-radius: 20px;

}
.current-user-container:hover{
   
    background-color: #E8E8E8;
    
}




.user-profile-pic{
  margin-right: 4px;
  /* margin-top: 10px; */
    width:25x;
    height:25px;
        border-radius: 50% !important;
    overflow: hidden !important;
    border-radius: 20px;
    
}
.user-profile-pic:hover{
  background-color: #E8E8E8;
}
.sign-in-test{
   
    
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 60px;
    line-height: 18px;
   
  /* yyyy */
}

.sign-in-test2{
   
    border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: normal;
    font-family: 'Crimson Text', serif;    
    /* line-height: 18px; */
    position: absolute;
    top: 19px;
    right:65px;
  
}

.shopping_cart_icon{
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  font-weight: normal;
    font-family: 'Crimson Text', serif;    
    line-height: 18px;
    position: absolute;
    top: 20px;
    right:30px;
    background-color: white;
}
.cart-div{
  background-color: white;
  border: 1px solid #E1E3DF;
  margin-top: 20px;
  margin-bottom: 20px;
  
  padding:0px;
  border-radius: 8px;
  border-color: #E1E3DF;
  width:96%;
  margin: 0 auto;
  background-color: white;
  /* border: green 5px solid; */
}
.cart-item-details{
  display: flex;  
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  
  /* margin: 20px; */
  width:96%;
   /* background-color: yellowgreen; */
  
   margin: 0 auto;
   /* border-radius: 5px; */

   margin-left: 20px;
}

.cart-div > .cart-item-details{
   border: none;
}

.cart-div > .cart-item-details ~ .cart-item-details{
  border-top: 1px solid #E1E3DF;
}

  .cartContainer{
    background-color: #FAF9F5;
    border-color: #E1E3DF;
     border-top: 2px solid rgba(34, 34, 34, 0.15);
     /* background-color: skyblue; */
     width:100%;
     margin: 0 auto;
     /* border-radius: 5px; */
     padding-bottom: 20px;
}



.cart_item_details_info{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:460px;
  background-color: white;
}

.cartItemsSub{
  
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  justify-content: space-between;
   /* background-color: green; */
   width: 180px;
 
}

.delete-item-in-cart:hover{
  background-color: #E8E8E8;
  text-shadow: 2px 2px 5px gray;
  /* border: dimgrey solid 1px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}




.delete-item-in-cart{
  /* padding-top: 10px; */
    border-radius: 20px;
  padding: 8px 10px 8px 10px;
   position: relative; 
   margin-left: -10px;;
  /* font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 60px;
    line-height: 18px;
    position: absolute; */
    /* top: 20px; */
    /* right:120px; */
  
}

.checkout-btn{
   border-radius: 20px;
 
   position: relative; 
   /* margin-left: -10px;; */
   font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.checkout-btn:hover{
  /* background-color: #E8E8E8; */
  
  /* border: dimgrey solid 1px; */
   min-height: 52px;
    min-width: 52px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.searchDiv{
  width: 65%;
    top: 3px;
    left: 200px;
    position: absolute;
}

.searchBar {
    display: inline-block;
    margin: 10px;
    height: 50px;
    flex-grow: 1;
    min-width: 84%;
    border-radius: 25px;
    border-color: #222;
    background-color: rgb(241, 243, 244);
    outline: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: rgb(126, 145, 154);
    padding-left: 18px;
}
.search-products-form{
  height:60px;
}
.searchBarIcon{
  color: black;
    
    font-size: 1.3em;
}

div.checkout-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    position: absolute;
    top:185px;
    right:35px;
    width:300px;
    height:300px;
        border-radius: 18px !important;
    overflow: hidden !important;
    box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
        padding: 18px !important;
        box-sizing: border-box;
       
            color: #222;
            background-color: white;
    font-size: 14px;
    line-height: 1.4;
    z-index: 100;
}

.checkout-totals-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkout-title{
  font-size: 16px;
    line-height: 28px;  
    padding-top: 0px !important;
    margin-bottom: 20px !important;
    /* font-weight: bold; */
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
.checkout-title-total{
  
    line-height: 28px;  
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    /* padding-top: 0px !important;
    margin-bottom: 20px !important; */
    /* font-weight: bold; */
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 20px!important;
}




.div-totals{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.public-totals{
     padding-bottom: 2px;
    color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    
}
.shipping-text:hover{
  text-decoration: underline;
}

.payment{
  width:100% ;
}



/* reviews index  */
.reviews-index {
    background: white;
    margin-left: 348px;
}

.no-review {
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
}

.reviews-index > ul {
    list-style: none;
}

.reviews-index > ul > li {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    width: 773px;
    display: flex;
    flex-direction: row;
}

.reviews-index > ul > li > div {
    padding-left: 50px;
}

.reviews-index > ul > li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

 .reviews-index > ul > li a {
     text-decoration: underline;
     color: black;
 }

.review-body {
    margin-top: 0.7em;
    /* margin-bottom: 0.7em; */
}

.star-ratings{
   /* margin-top: 0.3em; */
    margin-bottom: 0.5em;
}

.reviews-index-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.reviews-index-title > span {
    margin-left: 20px;
}


/* reviews index  */

/* pagination */
ul.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul.pagination > li {
    border: 1px solid lightgray;
    margin-left: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 24px;
    margin-top: 20px;
    vertical-align: middle;
    line-height: 1.9em;
    color: black;
    background-color: #EFEFEF;
}

ul.pagination > li.clicked {
    
    background: #A7A7A7;
}
/* pagination */

/* review form */
.hidden {
    display: none;
}

/* Button 3d effect */
.clicky {
    /** Offset the Position **/
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 10px;

    /** 3D Block Effect **/
    /* box-shadow: 0 10px 0 0 #6B2A4A; */

    /** Make it look pretty **/
    display: block;
    background: black;
    color: #eee;
    padding: 12px 28px;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    height: 48px;
    opacity: 0.9;
    border-radius: 5px;
    font-weight: bold;

}
/* Button 3d effect */

.review-section {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-bottom: 20px;
    width: 40%;
}

.review-form {
    display: flex;
    flex-direction: column;
    width:220px;
    padding-left: 10px;
}

.review-form > label {
    margin-top: 30px;
    margin-bottom: 10px;
}
.review-form > input {
    min-width: 350px;
    margin-bottom: 10px;
    border: 1px dotted gray;
}

.hidden-div{
  display: none;
}

.review-form > textarea {
    min-width: 350px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    /* border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195)); */
    border-color:lightgray;
    border-image: initial;
    padding: 7px;
    border-radius: 2px;
}


/* review form */
