@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.529);
  z-index: 10;
}

.modal-child {
  display: inline-block;
  width: 360px;
  height: 400px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label-input {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 60px;
  /* font-weight: bolder; */
  /* xxxx */
}

.form-input {
  outline: none;
  border-radius: 5px;
  border: gainsboro 1px solid;
  margin-top: 5px;
  margin-left: 16px;
  margin-right: 15px;
  margin-bottom: 8px;
  padding: 5px;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  width: 87% !important;
  height:30px;
  /* margin: 0 auto; */
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: rgb(102, 102, 102)
}
.add-to-cart{
  text-decoration: none;
  outline: none;
  border-radius: 24px;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  width: 90% !important;
      cursor: pointer;
      outline: none;
  height: 15%;
  background-color: #222222;
  /* font-family: 'Spartan', sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight:bolder;
  color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.review_buttons{
  text-decoration: none;
  outline: none;
  border-radius: 24px;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  /* width: 90% !important; */
      cursor: pointer;
      outline: none;
  height: 15%;
  background-color: #222222;
  /* font-family: 'Spartan', sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight:bolder;
  color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.signin-submit {
  text-decoration: none;
  outline: none;
  border-radius: 3px;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  width: 90% !important;
      cursor: pointer;
      outline: none;
  height: 15%;
  background-color: #222222;
  /* font-family: 'Spartan', sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight:bolder;
  color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
   
    position: relative;
    text-align: center;
    vertical-align: middle;
    /* margin: 0 auto; */
    z-index: 10;
}

.signin-submit:hover {
  cursor: pointer;
  background-color: rgb(102, 102, 102)
}

.signup-submit {
  outline: none;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  width: 20%;
  height: 15%;
  background-color: white;
  border: black 1px solid;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.signup-submit:hover {
  cursor: pointer;
  background-color: rgb(179, 179, 179);
}

.header-form{ 
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  /* font-weight: bolder; */
}

.close {
  color: transparent;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.close:hover {
  cursor: inherit;
}

.signup-form {
  display: flex;
  justify-content: space-between;
}

.toast {
  display: inline-block;
  width: 10%;
  height: 10%
}

.sign-demo {
  display: flex;
  flex-direction:column ;
  /* justify-content: space-around; */
}

.demo-submit {
  text-decoration: none;
  outline: none;
  border-radius: 3px;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  width: 90% !important;
      cursor: pointer;
      outline: none;
  height: 15%;
  background-color: #222222;
  /* font-family: 'Spartan', sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight:bolder;
  color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 10;
}

.demo-submit:hover {
  cursor: pointer;
  background-color: rgb(179, 179, 179);
}